.question {
    margin: 100px 0;
    padding: 20px;
    background: #DDD;
}

.question__header {
    font-size: 34px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid;
}

.question__text {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid;
}

.question__comments-header {
    font-size: 20px;
    margin-bottom: 10px;
}
